/* #qual{
    margin-left: 1.5rem;
    color: black;
}
#qualification{
    width: 37rem;
  padding: 8px ;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: -0.7rem;
}
#specialisation{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#technon{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#techskill{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#nontech{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#jobexp{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#jobposition{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#furthereducation{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#furtherskill{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
#furtherjob{
    width: 37rem;
    padding: 8px ;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: -0.7rem;
}
.user{
    margin-left: 35%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    background-color: greenyellow;
} */