/* .container{
    margin-top: 2rem;
    margin-left: -15rem;
    background-color: #FAD7FF;
    height: 3.5rem;
}
.butt{
    font-size: 1.5rem;   
    margin-left: 90%;
    margin-top: 0.8rem;
}

.tabu{
    margin-left: -14rem;
    width: 1325px;
    height: 100px;
}
.tabbu{
    background-color: #FAD7FF;
}
.button{
    background-color: red;
    margin-left: 1rem;
    font-size: large;
}
.bttn{
    font-size: large;
    background-color: blue;
}
.contain {
    box-sizing: border-box;
    width: 800px;
    height: 700px;
    padding: 30px;  
    border: 2px solid grey;
    margin-left: 33rem;
    margin-top: 7rem;
  } */